<link rel="stylesheet" href="assets/css/style.css">
<div class="container">
    <table class="main-table" border="1" cellpadding="10" cellspacing="0" width="100%">
        <tr>
            <td><b>Intitulé Convention:</b></td>
            <td><b>Intitulé Convention:</b></td>
        </tr>
        <tr>
            <td>Année convention:</td>
            <td>Année convention:</td>
        </tr>
        <tr>
            <td>Montant subventionnel:</td>
            <td>Montant subventionnel:</td>
        </tr>
        <tr>
            <td>Montant débloqué:</td>
            <td>Montant débloqué:</td>
        </tr>
        <tr>
            <td>Montant demandé:</td>
            <td>Montant demandé:</td>
        </tr>
        <tr>
            <td>Date établissement:</td>
            <td>Date établissement:</td>
        </tr>
        <tr>
            <td>Date dépot:</td>
            <td>Date dépot:</td>
        </tr>
        <tr>
            <td>Date approbation MATNUHPV:</td>
            <td>Date approbation MATNUHPV:</td>
        </tr>
        <tr>
            <td>Date déblocage:</td>
            <td>Date déblocage:</td>
        </tr>
        <tr>
            <td>Montant déjà débloqué:</td>
            <td>Montant déjà débloqué:</td>
        </tr>
        <tr>
            <td>Délai de traitement:</td>
            <td>Délai de traitement:</td>
        </tr>
        <tr>
            <td>Commentaire:</td>
            <td>Commentaire:</td>
        </tr>
        <tr>
            <td>Montant validé MATNUHPV:</td>
            <td>Montant validé MATNUHPV:</td>
        </tr>
        <tr>
            <td>SAO:</td>
            <td>SAO:</td>
        </tr>
        <tr>
            <td>Province:</td>
            <td>Province:</td>
        </tr>
        <tr>
            <td>Etat:</td>
            <td>Etat:</td>
        </tr>
        <tr>
            <td>Conventionné:</td>
            <td>Conventionné:</td>
        </tr>
    </table>
    <div class="white-space"></div>
</div>